{% extends 'base.html' %}

{% load static %}

    {% block head %}

      <title>Login</title>
    {% endblock %}

    {% block body %}
    <div class="container">


    <h1>Welcome!</h1>
    <p>You can login here</p>
    <h2>Login!</h2>
    <form class="loginForm" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary" name="button">Login</button>
      <a href = "{../reset-password}" class="btn btn-secondary" name="button">Forgot Password</a>
    </form>
    <h1>New to this website?</h1>
    <br>
      <a href = "{% url 'register' %}" class="btn btn-secondary" name="button">Register</a>
    </div>
    {% endblock %}
