{% extends 'base.html' %}
<br>
<h1>Profile</h1>
{% load static %}
    {% block head %}
      <link rel="stylesheet" href="{% static 'accounts/css/profile_style.css' %}" type="text/css" >
      <title>Profile</title>
    {% endblock %}

    {% block body %}
<br>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Profile</h4>
          </div>
          <div class="card-body">
            {% if user.userprofile.image %}
            <img src="{{ user.userprofile.image.url }}" class="rounded-circle" width="100" height="100">
              {% endif %}
            <h1 class="card-title pricing-card-title"><small>{{user}}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Name: {{user.first_name}} {{user.last_name}}</li>
              <li>Email: {{user.email}}</li>
              <li>Wins: {{user.userprofile.wins}}</li>
            </ul>
            
            <a  class="btn btn-outline-primary" href="{% url 'profile_edit' %}" >Edit Profile</a>
          
            <br>

          </div>
      


    {% endblock %}
