{% extends 'base.html' %}
{% load static %}
  {% block head %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css" >

  {% endblock %}
{% block body %}
<div class="container">


<div class="col-md-8">
  <h1>home page!!!!!!</h1>
  <form method="post">
  	{% csrf_token %}
  	{{ form.as_p }}
  	<button type="submit" class="btn btn-outline-primary">Submit</button>
    <br>
    <br>
    {% for post in posts reversed %}

    <h1>{{ post.post }}</h1>
    <div class="left">
        <img src="{{ user.userprofile.image.url }}" class="rounded-circle" width="50" height="50">
    </div>
  <div class="right">
    <p><b>{{ post.user.get_full_name}} </b><br>{{ post.created }}</p>
    </div>

    {% endfor %}


  </form>
</div>
<div class="col-md-4">
  <h2>Suggested Freinds</h2>
  {% for user in users %}
  <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
    <h3>{{user.username}}</h3>
    </a>
    
  {% endfor %}
</div>
  </div>
{% endblock %}
